<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ef6fb0b3-4295-4279-a8fa-c43f678bacfc/resourcegroups/DemoProjectLearn20211025114357ResourceGroup/providers/Microsoft.Web/sites/DemoProjectLearn20211025114357</ResourceId>
    <ResourceGroup>DemoProjectLearn20211025114357ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demoprojectlearn20211025114357.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>2fda3e2d-4299-4430-add9-56b738b22736</ProjectGuid>
    <PublishUrl>https://demoprojectlearn20211025114357.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DemoProjectLearn20211025114357</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>